<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">Application for Herd Testing Incentive for In-Shed Somatic Cell Count Monitoring Equipment</div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChangeAndFindERELs} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                    value=""
                    placeholder="Select Party"
                    options={partyOptions}
                    onchange={handlePartyChange}
                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Equipment and Herd Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <p>Please provide details of the Somatic Cell Count monitoring equipment installed on this farm:</p>
                <lightning-textarea data-id="Somatic_Cell_Count_Equipment_Details__c" placeholder="" onchange={handleChange}></lightning-textarea>
                <p>Please attach evidence of the type of equipment installed.<br/>
                Note: The equipment must be a permanent part of the dairy plant, i.e. handheld meters are not eligible.</p>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" data-id="Photograph_of_Equipment__c" label="Photograph of equipment" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" data-id="Detailed_Service_Statement__c" label="Detailed service statement (dated within the last 12 months)" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="checkbox" data-id="Other__c" label="Other. Please describe." onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="8" padding="around-small">
                <lightning-input type="text" data-id="Other_evidence_description__c" label="" onchange={handleChange} variant="label-hidden"></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="number" data-id="Peak_number_of_cows_milked_on_this_farm__c" label="Peak number of cows milked on this farm last season (i.e. the immediately preceding 1 July to 30 June period)" onchange={handleChange}></lightning-input>
                Please attach evidence of cow numbers.
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" data-id="Stock_Register__c" label="Stock register" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="checkbox" data-id="Other_evidence_of_cow_numbers__c" label="Other. Please describe." onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="8" padding="around-small">
                <lightning-input type="text" data-id="If_Other_please_describe__c" label="" onchange={handleChange} variant="label-hidden"></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Division of Herd Testing Incentive Payment</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                Complete this section only if the Herd Testing Incentive payment is to be divided, e.g. between the farm owner and the sharefarmer.
            </lightning-layout-item>
        </lightning-layout>

        <template for:each={ActiveErels} for:item="activeErel">
            <lightning-layout key={activeErel.Id}>
                <lightning-layout-item size="6" padding="around-small">
                    <div class="slds-box slds-p-around_medium slds-text-align_left">{activeErel.Party__r.Name} • {activeErel.Party__r.Party_ID__c} • {activeErel.Role__c}</div>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="percent-fixed" max="100" min="1" label="Proportion of payment" placeholder="%" data-id={activeErel.PaymentPartySplitVariable} onchange={handleChange} variant="label-inline"></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </template>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>