<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                Notification to Cease/Transfer Supply
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                                    value=""
                                    placeholder="Select Party"
                                    options={partyOptions}
                                    onchange={handlePartyChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleIndividualSearch} controller-property-name="IndividualId" label="Individual" placeholder="Individual" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="number" data-id="Owner_Number__c" label="Owner Number" placeholder="Owner Number" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Ceasing Supply
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Ceasing_Supply__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Moving to
                <br/>
                <lightning-input type="text" data-id="Moving_to__c" placeholder="Company name or retiring" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Transferring Supply
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Transferring_Supply__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Transferring to
                <br/>
                <lightning-input type="text" data-id="Transferring_to__c" placeholder="Change of trading details" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>


        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Production_last_season_litres__c" label="Production last season (litres)" placeholder="Litres" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" label="Last pickup date" data-id="Last_Pickup_Date__c" placeholder="dd/mm/yyyy" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" label="Locations" data-id="Locations__c" placeholder="Locations" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Current_Exclusive_Milk_Supply_Agreement__c"
                                        label="Current Exclusive Milk Supply Agreement"
                                        options={options}
                                        value={value}
                                        required
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" disabled={disableBtn} onclick={handleSave}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>