<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                Agreement to Supply Recipient Created Tax Invoice and Recipient Created Adjustment Note<br/><br/>
                AND<br/><br/>
                Advice of Australian Business Number (ABN) and Registration Status for GST
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                                    value=""
                                    placeholder="Select Party"
                                    options={partyOptions}
                                    onchange={handlePartyChange}
                                    required>
                </lightning-combobox>
             </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Australian_Business_Number__c" required="true" maxlength="11" label="Australian Business Number (ABN)" placeholder="11222333444" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="GST_Registered__c"
                                        label="Is this business registered for GST?"
                                        options={options}
                                        value={value}
                                        required
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" id="savebutton" label="Save" disabled={disableBtn} onclick={handleSave}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>