<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">Supplier Payment Instruction: Sharefarming Arrangement</div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChangeAndRetrieveErels} required></c-lookup>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Terminate_Agreement__c"
                                        options={options}
                                        value="false"
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Effective_Date__c" label="Effective Date" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="Time_Shift__c"
                                        label="Shift"
                                        options={timeOptions}
                                        value={value}
                                        required
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout if:false={Terminate_Agreement__c}>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" value="true" data-id="Use_KgMS__c" label="Use Solids $/kg MS" onchange={handleToggleSolids}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <template if:false={Terminate_Agreement__c} for:each={ActiveErels} for:item="activeErel">
            <lightning-layout key={activeErel.Id}>
                <lightning-layout-item if:false={activeErel.NewSupplier} size="5" padding="around-small">
                    <c-lookup onsearch={handlePartySearch}
                                controller-property-name={activeErel.PartyVariable}
                                label="Party"
                                placeholder="Party Name"
                                onselectionchange={handleLookupChange}
                                default-value={activeErel.Party__c}
                                default-value-unique-searchable={activeErel.Party__r.Party_ID__c}
                                disabled={activeErel.IsOwner}>
                    </c-lookup>
                </lightning-layout-item>
                <lightning-layout-item if:true={activeErel.NewSupplier} size="5" padding="around-small">
                    <lightning-input type="text" label="Party" placeholder="Name" data-id={activeErel.PartyTextVariable} onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item if:false={activeErel.IsOwner} size="3" padding="around-small">
                    <lightning-input type="checkbox" label="New Supplier" data-id={activeErel.Id} onchange={handleNewSupplierToggle} variant="label-stacked"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item if:true={activeErel.IsOwner} size="3" padding="around-small">
                    <lightning-input type="text" label="Role" value={activeErel.Role__c} disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="2" padding="around-small">
                    <lightning-input type="number" formatter="percent-fixed" max="100" min="1" step="0.01" label="Split" placeholder="%" data-id={activeErel.PaymentPartySplitVariable} onchange={handleChange} disabled={Use_KgMS__c}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="2" padding="around-small">
                    <lightning-input type="number" formatter="currency" label="$/kg MS" placeholder="$" step="0.01" data-id={activeErel.PaymentPartyKgMSVariable} onchange={handleChange} disabled={isKgMSDisabled} if:false={activeErel.IsOwner}></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </template>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>