<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                New Supplier Form
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Supplier Information Details</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox data-id="Action_Code__c"
                                    label="Action Code"
                                    options={actionCodeOptions}
                                    value={Action_Code__c}
                                    onchange={handleChange}
                                    readonly>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox data-id="SupplierRegion"
                                    label="Region"
                                    options={regionOptions}
                                    value={SupplierRegion}
                                    onchange={handleChange}>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="SupplierNumber" label="Supplier Number" placeholder="123400" minlength="4" maxlength="6" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="SupplierName" label="Supplier Name" placeholder="Supplier Name" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="TradingName" label="Trading Name" placeholder="Trading Name" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleIndividualSearch} controller-property-name="IndividualId" label="Individual" placeholder="Individual Name" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleUserSearch} controller-property-name="Area_Manager__c" label="Area Manager" placeholder="Area Manager Name" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_Number__c" label="Street Number" placeholder="Street Number" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_1__c" label="Street 1" placeholder="Street 1" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_2__c" label="Street 2" placeholder="Street 2" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Suburb__c" label="Suburb" placeholder="Suburb" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox data-id="State__c"
                                    label="State"
                                    value=""
                                    placeholder="Select State"
                                    options={stateOptions}
                                    onchange={handleChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="City__c" label="City" placeholder="City" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="4" max-length="4" data-id="Postcode__c" label="Postcode" placeholder="Postcode" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Phone_Number__c" label="Phone Number" placeholder="+6112341234" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Fax__c" label="Fax" placeholder="Fax" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Mobile_Number__c" label="Mobile Number" placeholder="+6112341234" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="email" data-id="Email__c" label="Email Address" placeholder="supplier@example.com" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="CommencementDate" label="Date of commencement" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="UDV_Member__c"
                                        label="UDV Member"
                                        options={options}
                                        value={value}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="Farm_Access_Approved_by_Transport__c"
                                        label="Farm Access Approved by Transport"
                                        options={options}
                                        value={value}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Dairy_License_Number__c" label="Dairy License Number" placeholder="Dairy License Number" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="FSP_Audit_Status_Verified__c"
                                        label="FSP Audit Status Verified"
                                        options={options}
                                        value={FSP_Audit_Status_Verified__c}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Last_Audit_Date__c" label="Last Audit Date" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Comments" label="Comments" placeholder="Comments" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Banking Information Details</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Payment_Instruction_Type__c"
                                        label="Payment Instruction Type"
                                        options={paymentInstructionOptions}
                                        value={Payment_Instruction_Type__c}
                                        readonly
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" label="GST Account" data-id="GST_Account__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Effective_Date__c" label="Effective Date" placeholder="dd/mm/yyyy" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Bank__c" label="Bank" placeholder="Bank" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="6" data-id="Branch_Number__c" label="Branch Number" placeholder="123456" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Branch__c" label="Branch" placeholder="Branch" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="9" data-id="Account_Number__c" label="Account Number" placeholder="123456789" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">ABN Details</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Australian_Business_Number__c" required="true" maxlength="11" label="Australian Business Number (ABN)" placeholder="11222333444" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="GST_Registered__c"
                                        label="Is this business registered for GST?"
                                        options={options}
                                        value={value}
                                        required
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>