<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">Supplier Information / Supplier Payment Instructions</div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox data-id="Action_Code__c"
                                    label="Action Code"
                                    placeholder="Action Code"
                                    options={actionCodeOptions}
                                    onchange={handleChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                    value=""
                    placeholder="Select Party"
                    options={partyOptions}
                    onchange={handlePartyChange}
                    required>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleIndividualSearch} controller-property-name="IndividualId" label="Individual" placeholder="Individual Name" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleUserSearch} controller-property-name="Area_Manager__c" label="Area Manager" placeholder="Area Manager Name" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_Number__c" label="Street Number" placeholder="Street Number" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_1__c" label="Street 1" placeholder="Street 1" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Street_2__c" label="Street 2" placeholder="Street 2" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Suburb__c" label="Suburb" placeholder="Suburb" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox data-id="State__c"
                                    label="State"
                                    value=""
                                    placeholder="Select State"
                                    options={stateOptions}
                                    onchange={handleChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="City__c" label="City" placeholder="City" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="4" max-length="4" data-id="Postcode__c" label="Postcode" placeholder="Postcode" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Phone_Number__c" label="Phone Number" placeholder="+6112341234" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Fax__c" label="Fax" placeholder="Fax" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="tel" data-id="Mobile_Number__c" label="Mobile Number" placeholder="+6112341234" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="email" data-id="Email__c" label="Email Address" placeholder="supplier@example.com" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="CommencementDate" label="Date of commencement" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="UDV_Member__c"
                                        label="UDV Member"
                                        options={options}
                                        value={value}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="Farm_Access_Approved_by_Transport__c"
                                        label="Farm Access Approved by Transport"
                                        options={options}
                                        value={value}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Dairy_License_Number__c" label="Dairy License Number" placeholder="Dairy License Number" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-radio-group data-id="FSP_Audit_Status_Verified__c"
                                        label="FSP Audit Status Verified"
                                        options={options}
                                        value={value}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Last_Audit_Date__c" label="Last Audit Date" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Comments" label="Comments" placeholder="Comments" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>


        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>