<!--
Created by Nick on 07/08/17.

AMSWarning Alert

Warning icon

Author: NL (Trineo)
Date: 2017-09-16
-->
<apex:component id="AMSWarningAlert">
    <apex:attribute name="rendered" type="Boolean" description="Rendered" default="true" />

    <apex:outputPanel layout="none" rendered="{!rendered}">
        <svg width="22" height="20" viewBox="0 0 47 42" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <path d="M26.11 1.606L46.462 37.52c.817 1.442.31 3.273-1.13 4.09-.452.256-.962.39-1.48.39H3.148c-1.657 0-3-1.343-3-3 0-.518.135-1.028.39-1.48L20.89 1.607c.817-1.442 2.648-1.948 4.09-1.13.47.267.862.658 1.13 1.13z"
                      fill="#F0AD4E"/>
                <path d="M24.25 30.007h-1.783c-.54 0-.98-.427-1-.966l-.458-13.618c-.02-.552.413-1.015.965-1.033.01-.002.022-.002.033-.002h2.7c.552 0 1 .448 1 1v.034l-.46 13.62c-.018.538-.46.965-1 .965zm-.892 2.446c.753 0 1.36.222 1.82.666.458.442.688 1.01.688 1.702 0 .68-.23 1.243-.69 1.687-.458.443-1.065.664-1.818.664-.743 0-1.344-.22-1.803-.665-.46-.445-.69-1.007-.69-1.688 0-.682.23-1.247.69-1.696.46-.448 1.06-.673 1.803-.673z"
                      fill="#FFF"/>
            </g>
        </svg>
    </apex:outputPanel>
</apex:component>