<template>
  <article class="slds-card">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-contact" title="contact">
            <lightning-icon icon-name="standard:contact_list" alternative-text="Connected" size="small" title="small size">
            </lightning-icon>
        </span>
      </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
              <span>Audit</span>
          </h2>
        </div>
      </header>
    </div>
    <div class="slds-card__body">
      <lightning-datatable key-field="id" data={data} columns={columns} hide-checkbox-column>
      </lightning-datatable>
    </div>
  </article>
</template>