<template>
    <lightning-layout class="lightBlueContainer" multiple-rows>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                Supplier Finance Approval Form
            </div>
        </lightning-layout-item>

        <lightning-layout-item size="8" padding="around-small">
            <lightning-layout>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout>
                <lightning-layout-item size="6" padding="around-small">
                    <c-lookup onsearch={handleFarmSearch}
                            label="Farm"
                            placeholder="Farm Number"
                            default-value={Farm.Id}
                            default-value-unique-searchable={Farm.Name}
                            disabled></c-lookup>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <c-lookup onsearch={handlePartySearch}
                            label="Party"
                            placeholder="Party Name"
                            default-value={Party.Id}
                            default-value-unique-searchable={Party.Party_ID__c}
                            disabled></c-lookup>
                </lightning-layout-item>
            </lightning-layout>
            <!--
            <lightning-layout if:true={isDraft}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-combobox data-id="Trading_Arrangement__c"
                                            value={advanceApplicationDetail.Trading_Arrangement__c}
                                            label="Trading Arrangement"
                                            options={tradingArrangementOptions}
                                            onchange={handleChange}>
                        </lightning-combobox>
                    </lightning-layout-item>
                </lightning-layout>
            </lightning-layout>
            -->
            <lightning-layout multiple-rows>
                <lightning-layout-item size="12" padding="around-small">
                    <lightning-radio-group
                                label="Advance Type"
                                data-id="Type__c"
                                options={typeOptions}
                                value={advanceApplicationDetail.Type__c}
                                type="radio"
                                onchange={handleChange}>
                    </lightning-radio-group>
                </lightning-layout-item>

                <lightning-layout-item if:true={isNewRaboAdvance} size="12" padding="around-small">
                    <lightning-radio-group
                                label="RABO Advance Type"
                                data-id="RABO_Advance_Type__c"
                                options={raboTypeOptions}
                                value={advanceApplicationDetail.RABO_Advance_Type__c}
                                type="radio"
                                onchange={handleChange}>
                    </lightning-radio-group>
                </lightning-layout-item>

                <lightning-layout-item if:true={isNewRaboAdvance} size="12" padding="around-small">
                    <lightning-input type="checkbox" data-id="Interest_Free__c" checked={advanceApplicationDetail.Interest_Free__c} label="Interest Free"  onchange={handleChange}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item if:true={isNewRaboAdvance} size="12" padding="around-small">
                    <lightning-input type="checkbox" data-id="Alternate_Payment_Arrangements__c" checked={advanceApplicationDetail.Alternate_Payment_Arrangements__c} label="Alternate Payment Arrangements"  onchange={handleChange}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item if:true={advanceApplicationDetail.Interest_Free__c} size="12" padding="around-small">
                    <lightning-radio-group
                                label="Reason for Interest Free"
                                data-id="Reason_for_Interest_Free__c"
                                options={reasonForInterestFreeOptions}
                                value={advanceApplicationDetail.Reason_for_Interest_Free__c}
                                type="radio"
                                onchange={handleChange}>
                    </lightning-radio-group>
                </lightning-layout-item>

                <lightning-layout-item if:true={isRestructureExistingAdvance} size="12" padding="around-small">
                    <lightning-input type="text" data-id="Loan_Number_being_Restructured__c" value={advanceApplicationDetail.Loan_Number_being_Restructured__c} label="Loan number being restructured" onchange={handleChange} required></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item if:true={advanceApplicationDetail.Alternate_Payment_Arrangements__c} size="12" padding="around-small">
                    Ensure Alternate Payment Arrangement Section is correctly filled out on the application form signed by the Supplier
                </lightning-layout-item>

                <lightning-layout-item if:true={advanceApplicationDetail.Alternate_Payment_Arrangements__c} size="12" padding="around-small">
                    <lightning-textarea data-id="Alternate_Payment_Arrangements_Note__c" value={advanceApplicationDetail.Alternate_Payment_Arrangements_Note__c} label="Alternate Payment Arrangements Note" onchange={handleChange}></lightning-textarea>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Additional Instructions</div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout multiple-rows>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Current_RABO_Advances__c" value={advanceApplicationDetail.Current_RABO_Advances__c} label="Current RABO Advances"  placeholder="$" onchange={handleChangeAndRecalculate} required></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Current_Account__c" value={advanceApplicationDetail.Current_Account__c} label="Current Account" placeholder="$" onchange={handleChangeAndRecalculate} required></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item if:false={isRestructureExistingAdvance} size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Proposed_new_RABO_Advance__c" value={advanceApplicationDetail.Proposed_new_RABO_Advance__c} label="Proposed new RABO Advance" placeholder="$" onchange={handleChangeAndRecalculate} required></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item if:true={isRestructureExistingAdvance} size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Proposed_RABO_Restructured_Advance_Amt__c" value={advanceApplicationDetail.Proposed_RABO_Restructured_Advance_Amt__c} label="Proposed RABO Restructured Advance amount" placeholder="$" onchange={handleChangeAndRecalculate} required></lightning-input>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Declaration</div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout multiple-rows>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="checkbox" data-id="Advance_Application_has_been_verified__c" checked={advanceApplicationDetail.Advance_Application_has_been_verified__c} label="Advance Application has been verified"  onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="checkbox" data-id="Other_Attachments_have_been_verified__c" checked={advanceApplicationDetail.Other_Attachments_have_been_verified__c} label="Other Attachments have been verified" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="checkbox" data-id="All_pages_have_been_initialled__c" checked={advanceApplicationDetail.All_pages_have_been_initialled__c} label="All pages have been initialled" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="checkbox" data-id="Attachment_pages_have_been_initialled__c" checked={advanceApplicationDetail.Attachment_pages_have_been_initialled__c} label="Attachment pages have been initialled" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout if:true={isOverLimit} multiple-rows>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Over Limit</div>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <lightning-radio-group
                                label="Over Limit Reason"
                                data-id="Over_Limit_Reason__c"
                                options={overLimitReasonOptions}
                                value={advanceApplicationDetail.Over_Limit_Reason__c}
                                type="radio"
                                onchange={handleChangeAndRecalculate}>
                    </lightning-radio-group>
                </lightning-layout-item>

                <lightning-layout-item if:true={isOverLimitReasonOther} size="12" padding="around-small">
                    <lightning-textarea data-id="Over_Limit_Reason_Description__c" value={advanceApplicationDetail.Over_Limit_Reason_Description__c} label="Over Limit Reason Description" onchange={handleChange}></lightning-textarea>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <lightning-textarea data-id="AM_Risk_Evaluation__c" value={advanceApplicationDetail.AM_Risk_Evaluation__c} label="AM Risk Evaluation" onchange={handleChange}></lightning-textarea>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Cost_of_Production_kg_MS__c" value={advanceApplicationDetail.Cost_of_Production_kg_MS__c} label="Cost of Production $ per kg MS" placeholder="$" onchange={handleChange}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="percentage-fixed" step="0.01" min="0" max="100" data-id="Equity_Position_perc_Equity__c" value={advanceApplicationDetail.Equity_Position_perc_Equity__c} label="Equity Position (from Balance Sheet) % Equity" placeholder="%" onchange={handleChange}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Equity_Position_Equity__c" value={advanceApplicationDetail.Equity_Position_Equity__c} label="Equity Position (from Balance Sheet) $ Equity" placeholder="$" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormSmallHeading">Equity Position Detail - Livestock</div>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" data-id="Number_of_Cows__c" value={advanceApplicationDetail.Number_of_Cows__c} label="Number of Cows" placeholder="" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Livestock_Value_per_unit__c" value={advanceApplicationDetail.Livestock_Value_per_unit__c} label="Value per unit on Balance Sheet" placeholder="$" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Livestock_Market_Value__c" value={advanceApplicationDetail.Livestock_Market_Value__c} label="Market Value" placeholder="$" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" data-id="Livestock_Adjustment_to_Balance_Sheet__c" value={advanceApplicationDetail.Livestock_Adjustment_to_Balance_Sheet__c} label="Adjustment to Balance Sheet equity position" placeholder="$" readonly></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormSmallHeading">Equity Position Detail - Land</div>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="number" data-id="Land_Size__c" value={advanceApplicationDetail.Land_Size__c} label="Land Size" placeholder="" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Land_Value_per_unit__c" value={advanceApplicationDetail.Land_Value_per_unit__c} label="Value per unit on Balance Sheet" placeholder="$" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" data-id="Land_Market_Value__c" value={advanceApplicationDetail.Land_Market_Value__c} label="Market Value" placeholder="$" onchange={handleEquityChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" data-id="Land_Adjustment_to_Balance_Sheet__c" value={advanceApplicationDetail.Land_Adjustment_to_Balance_Sheet__c} label="Adjustment to Balance Sheet equity position" placeholder="$" readonly></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormSmallHeading">Total Adjustment to Equity Position</div>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" data-id="Adjustment_to_Equity_position__c" value={advanceApplicationDetail.Adjustment_to_Equity_position__c} label="Adjustment to Equity position on Balance Sheet" readonly></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" data-id="Adjusted_equity_position__c" value={advanceApplicationDetail.Adjusted_equity_position__c} label="Adjusted equity position" readonly></lightning-input>
                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-small">
                    <lightning-textarea data-id="Explanation_of_equity_adjustment__c" value={advanceApplicationDetail.Explanation_of_equity_adjustment__c} label="Explanation of equity adjustment" onchange={handleChange}></lightning-textarea>
                </lightning-layout-item>

            </lightning-layout>

            <lightning-layout if:true={isAboveIndicativeLendingLevel}>
                <lightning-layout-item size="12" padding="around-small">
                    <p>As this advance application is above the Indicative Lending level, additional documentation needs to be attached.</p>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout if:true={isAllowedRABOFields}>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-combobox data-id="RABO_Bank_Approval__c"
                                        value={advanceApplicationDetail.RABO_Bank_Approval__c}
                                        label="RABO Bank Approval"
                                        options={raboBankApprovalOptions}
                                        onchange={handleChange}>
                    </lightning-combobox>
                </lightning-layout-item>

                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="checkbox" data-id="RABO_Bank_Approval_File_Attached__c" checked={advanceApplicationDetail.RABO_Bank_Approval_File_Attached__c} label="RABO Bank Approval File Attached" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>

        <lightning-layout-item size="4" padding="around-small">
            <lightning-layout>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Information</div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout multiple-rows>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" label="Last 12 Months Litres" value={advanceApplicationDetail.Last_12_Months_Litres__c} disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" label="Last 12 Months Solids" value={advanceApplicationDetail.Last_12_Months_Solids_KGs__c} disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" data-id="Additional_Litres__c" label="Additional Litres" placeholder="Litres" value={advanceApplicationDetail.Additional_Litres__c} onchange={handleChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" data-id="Additional_KGs__c" label="Additional KGs" placeholder="KGs" value={advanceApplicationDetail.Additional_KGs__c} onchange={handleChangeAndRecalculate}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" value={advanceApplicationDetail.Indicative_RABO_Lending_Level__c} label="Indicative RABO Lending Level" disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" value={advanceApplicationDetail.Indicative_Fonterra_Exposure_Level__c} label="Indicative Fonterra Exposure Level" disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" value={advanceApplicationDetail.Total_Loan_Exposure__c} label="Total Loan Exposure" disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" value={advanceApplicationDetail.Total_Loan_Rate_Cents_Per_Litre__c} label="Total Loan Rate Cents Per Litre" disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-input type="number" formatter="currency" step="0.01" value={advanceApplicationDetail.Dollars_Per_KG_Loan_Rate__c} label="Dollars Per KG Loan Rate" disabled></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item  size="6" padding="around-small">
                    <lightning-input type="number" formatter="percent" step="0.01" value={advanceApplicationDetail.Percentage_of_Milk__c} label="Percentage of milk" onchange={handleChange} disabled></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>

        <lightning-layout-item size="12" padding="around-small">
            <lightning-layout>
                <lightning-layout-item size="11" padding="around-small">
                    <lightning-button variant="neutral" label="Cancel" onclick={backToCase}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="1" padding="around-small">
                    <lightning-button variant="brand" label="Save" onclick={handleSave}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>
    </lightning-layout>
</template>