<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                Supplier Payment Instructions: Banking Information
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Payment_Instruction_Type__c"
                                        label="Payment Instruction Type"
                                        options={options}
                                        value=""
                                        required
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" label="GST Account" data-id="GST_Account__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                                    value=""
                                    placeholder="Select Party"
                                    options={partyOptions}
                                    onchange={handlePartyChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Effective_Date__c" label="Effective Date" placeholder="dd/mm/yyyy" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Bank__c" label="Bank" placeholder="Bank" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="6" data-id="Branch_Number__c" label="Branch Number" placeholder="123456" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Branch__c" label="Branch" placeholder="Branch" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="9" data-id="Account_Number__c" label="Account Number" placeholder="123456789" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>