.lightBlueContainer {
    background-color: #8DC8E8;
    font-size: smaller;
}

.fonterraFormHeader {
    background-color:#002D4E;
}

.fonterraFormLargeHeading {
    color:white;
    font-size: large;
    font-weight: bold;
    padding:10px;
}

.fonterraFormMediumHeading {
    color:white;
    font-size: medium;
    font-weight: bold;
    padding:5px;
}

.fonterraFormSmallHeading {
    color:white;
    font-size: small;
    font-weight: bold;
    padding:5px;
}