<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">
                Supplier Payment Instructions: Structured Deduction
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Change_to_Existing_Deduction__c"
                                        options={changeToExistingDeductionOptions}
                                        value="false"
                                        type="radio"
                                        onchange={handleChange}
                                        variant="label-hidden"
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                    value=""
                    placeholder="Select Party"
                    options={partyOptions}
                    onchange={handlePartyChange}
                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Structured Deduction</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Deduction_Payable_To__c" label="Deduction Payable To" placeholder="Payable To" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Address__c" label="Address" placeholder="Address" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="text" data-id="Postcode__c" min-length="4" max-length="4" label="Postcode" placeholder="1234" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Deduction Description</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-textarea max-length="45" data-id="Deduction_Description__c" required="true" label="Deduction Payable To" placeholder="This will appear as &apos;Payment To&apos; in the Monthly Statement. Up to 45 characters, including spaces available" onchange={handleChange}></lightning-textarea>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Payment Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Bank__c" label="Bank" placeholder="Bank" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="6" data-id="Branch_Number__c" label="Branch Number" placeholder="123456" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Branch__c" label="Branch" placeholder="Branch" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="9" data-id="Account_Number__c" label="Account Number" placeholder="012345678" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Deduction Schedule</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Start_Date__c" label="Start Date" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="End_Date__c" label="End Date" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" data-id="RegularDeduction" value={RegularDeduction} label="Regular Deduction" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout if:false={RegularDeduction} multiple-rows>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="July__c" label="July" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="November__c" label="November" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="March__c" label="March" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="August__c" label="August" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="December__c" label="December" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="April__c" label="April" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="September__c" label="September" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="January__c" label="January" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="May__c" label="May" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="October__c" label="October" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="February__c" label="February" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="June__c" label="June" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout if:true={RegularDeduction}>
            <lightning-layout-item size="4" padding="around-small">
                Regular Deduction
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-radio-group data-id="Deduction_Type__c"
                                        label="Deduction Type: Net (N) or Cumulative (C)"
                                        options={deductionTypeOptions}
                                        value={Deduction_Type__c}
                                        type="radio"
                                        onchange={handleChange}>
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="percent-fixed" max="100" min="1" data-id="Division__c" label="Division" placeholder="%" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>