<template>
    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12">
                <div class="fonterraFormHeader fonterraFormLargeHeading">
                    Application for Suppliers Advance
                </div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleFarmSearch}
                    onfarmselected={handlePartySearch}
                    controller-property-name="FarmId"
                    label="Farm"
                    placeholder="Farm Number"
                    onselectionchange={handleLookupChangeAndCheckSplits}
                    default-value={Farm.Id}
                    default-value-unique-searchable={Farm.Name}
                    required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                    value={PartyId}
                    placeholder="Select Party"
                    options={partyOptions}
                    onchange={handlePartyChange}
                    required>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small" if:true={paymentSplitInvalid}>
                Selected party/farm combination has no valid relationships. Please check that this is correct.
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-small">
                <lightning-combobox data-id="Trading_Arrangement__c"
                                    value={advanceApplicationDetail.Trading_Arrangement__c}
                                    label="Trading Arrangement"
                                    options={tradingArrangementOptions}
                                    onchange={handleChange}>
                </lightning-combobox>
            </lightning-layout-item>
            <br/>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Applicant_1_Date_of_Birth__c" value={advanceApplicationDetail.Applicant_1_Date_of_Birth__c} label="Applicant 1 Date of Birth" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="7" max-length="10" data-id="Applicant_1_Driver_s_License_Number__c" value={advanceApplicationDetail.Applicant_1_Driver_s_License_Number__c} label="Applicant 1 Driver's License Number" placeholder="1234567890" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Applicant_2_Date_of_Birth__c" value={advanceApplicationDetail.Applicant_2_Date_of_Birth__c} label="Applicant 2 Date of Birth" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="7" max-length="10" data-id="Applicant_2_Driver_s_License_Number__c" value={advanceApplicationDetail.Applicant_2_Driver_s_License_Number__c} label="Applicant 2 Driver's License Number" placeholder="1234567890" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Application Information</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="currency" step="0.01" data-id="Finance_Required__c" value={advanceApplicationDetail.Finance_Required__c} label="Finance Required" placeholder="$" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-textarea data-id="Finance_Purpose__c" value={advanceApplicationDetail.Finance_Purpose__c} label="Finance Purpose" placeholder="" onchange={handleChange} required></lightning-textarea>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Schedule of Repayment</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="July__c" value={advanceApplicationDetail.July__c} label="July" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="November__c" value={advanceApplicationDetail.November__c} label="November" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="March__c" value={advanceApplicationDetail.March__c} label="March" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="August__c" value={advanceApplicationDetail.August__c} label="August" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="December__c" value={advanceApplicationDetail.December__c} label="December" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="April__c" value={advanceApplicationDetail.April__c} label="April" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="September__c" value={advanceApplicationDetail.September__c} label="September" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="January__c" value={advanceApplicationDetail.January__c} label="January" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="May__c" value={advanceApplicationDetail.May__c} label="May" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="October__c" value={advanceApplicationDetail.October__c} label="October" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="February__c" value={advanceApplicationDetail.February__c} label="February" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="number" formatter="currency" step="0.01" data-id="June__c" value={advanceApplicationDetail.June__c} label="June" placeholder="$" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-small">
                <lightning-textarea data-id="Comments__c" value={advanceApplicationDetail.Comments__c} label="Comments (optional)" placeholder="" onchange={handleChange}></lightning-textarea>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Payment Process (Optional)</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input type="checkbox" data-id="Paid_by_Direct_Credit_to_Another_Account__c" checked={advanceApplicationDetail.Paid_by_Direct_Credit_to_Another_Account__c} label="Paid by direct credit to another account (tick if required)" onchange={handleChange}></lightning-input>
                <br/>
                <lightning-textarea max-length="45" data-id="Account_Name__c" value={advanceApplicationDetail.Account_Name__c} label="Account Name" placeholder="This will appear as &apos;Payment To&apos; in the Monthly Statement. Up to 45 characters, including spaces available" onchange={handleChange}></lightning-textarea>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Bank__c" value={advanceApplicationDetail.Bank__c} label="Bank" placeholder="Bank" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="6" data-id="Branch_Number__c" value={advanceApplicationDetail.Branch_Number__c} label="Branch Number" placeholder="123456" onchange={handleChange}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" data-id="Branch__c" value={advanceApplicationDetail.Branch__c} label="Branch" placeholder="Branch" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="text" min-length="6" max-length="9" data-id="Account_Number__c" value={advanceApplicationDetail.Account_Number__c} label="Account Number" placeholder="123456789" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={close}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>