<apex:page standardController="Contact" extensions="AMSUserCreationController" >
    <apex:form >
        <apex:pageBlock id="pageBlock">
            <apex:pageBlockButtons location="top" >
                <apex:outputPanel rendered="{!$Permission.Manage_AMS_Community_User}">
                    <apex:outputPanel rendered="{!userExists}">
                        <apex:commandButton rendered="{! communityUser.IsActive}" value="{! IF(individual.FarmSourceONE_Setup_Complete__c, 'Reset Password', 'Send Welcome Email')}" action="{!resetUserPassword}" />
                        <apex:commandButton rendered="{! communityUser.IsActive}" value="Deactivate User" action="{!deactivateUser}" />
                        <apex:commandButton rendered="{! NOT(communityUser.IsActive)}" value="Reactivate User" action="{!reActivateUser}" />
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!NOT(userExists)}">
                        <apex:commandButton value="Create Community User" action="{!createCommunityUser}" rerender="pageBlock" />
                    </apex:outputPanel>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!$Permission.View_AMS_Community}">
                    <apex:commandButton value="View Community" action="{!createAMSUserCookie}" oncomplete="window.open('{!$Page.AMSDashboard}');" />
                </apex:outputPanel>
            </apex:pageBlockButtons>

            <apex:pageMessages />

            <apex:outputPanel rendered="{!NOT(userExists)}">
                <apex:outputText >
                    This Individual does not have a Farm Source Login.
                </apex:outputText>
            </apex:outputPanel>

            <apex:outputPanel rendered="{!userExists}">
                <apex:pageBlockSection id="viewUserDetails">
                    <apex:outputField value="{!communityUser.Email}" />
                    <apex:outputField value="{!communityUser.IsActive}" />
                    <apex:outputText label="Photo"><apex:image value="{!communityUser.SmallPhotoUrl}" /></apex:outputText>
                </apex:pageBlockSection>

                <apex:pageBlockSection title="Login Information">
                    <apex:outputField value="{!communityUser.CreatedDate}" />
                    <apex:outputField value="{!communityUser.LastModifiedDate}" />
                    <apex:outputField value="{!communityUser.First_Time_Setup_Complete__c}" />
                    <apex:outputField value="{!communityUser.LastLoginDate}" label="Last Authentication"/>
                </apex:pageBlockSection>

            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>

</apex:page>