<apex:page applyBodyTag="false" applyHtmlTag="false"  docType="html-5.0" controller="EmailUnsubscribeController" showHeader="false" sidebar="false" standardStylesheets="false">
    <!-- FIXME favicons don't exist, AMSPreferences page needs to be put in and uncommented -->
    <html>

    <head>
    <title>Confirm Unsubscribe</title>
    <!-- <link rel="icon" href="../../vendor/fonterra-master-library/img/favicon/favicon.ico"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.FarmSourceTemplate, '/files/styles/print.css')}" media="print" />
    <link class="user" href="{!URLFOR($Resource.FarmSourceCommunityPreferences,'/css/main.css')}" rel="stylesheet" type="text/css"/>
    -->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Favicons -->
    <!-- <link rel="icon" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/favicon.ico')}"/>
    <link rel="shortcut icon" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/favicon.ico')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-57x57.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-60x60.png')}"/>


    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-72x72.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-76x76.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-96x96.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-114x114.png')}"/>


    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-120x120.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-144x144.png')}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/apple-touch-icon-152x152.png')}"/>
    <link rel="icon" type="image/png" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/favicon-16x16.png')}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/favicon-32x32.png')}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/favicon-96x96.png')}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/android-icon-192x192.png')}" sizes="192x192"/>
    <meta name="application-name" content="Fonterra"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/mstile-144x144.png')}"/>
    <meta name="msapplication-square70x70logo" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/mstile-70x70.png')}"/>
    <meta name="msapplication-square150x150logo" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/mstile-150x150.png')}"/>
    <meta name="msapplication-wide310x150logo" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/mstile-310x150.png')}"/>
    <meta name="msapplication-square310x310logo" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/mstile-310x310.png')}"/>
    <meta name="msapplication-config" content="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/vendor/fonterra-master-library/img/favicon/browserconfig.xml')}"/> -->


    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/css/main-blessed.css')}"/>
    <![endif]-->
    <!--[if !(IE)]><!-->
        <link rel="stylesheet" href="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/css/main.css')}"/>
    <!--<![endif]-->

    <!-- <script src="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/js/predom.js')}"></script> -->

    <script src="{!URLFOR($Resource.FarmSourceCommunityPreferences, '/js/picturefill.min.js')}"></script>

    <!-- Page specific custom CSS -->
    <style type="text/css">
        .l-content_subscription .m-btn_tertiary {
            color: #72bf44;
        }

        .l-content_subscription .m-btn_tertiary:hover {
            color: #fff;
        }
    </style>

    </head>
        <body data-env="development" class="h-bg-brand1">
            <header class="l-header l-header_subscription">
            <apex:outputPanel rendered="{!isIndividualAU}">
                <a class="l-header__logo" href="/">
                    <img src="{!URLFOR($Resource.AMSCommunityResource, '/files/images/logo.png')}" alt="Fonterra Farm Source" class="l-header__logo__img" />
                </a>
            </apex:outputPanel>
            </header>


            <main id="content" class="l-content l-content_subscription">
                <div class="h-container h-container_all h-text-align-center h-max-width-md-lg-sm">
                    <apex:form >
                        <!-- Landing view, ask for action -->
                        <apex:outputPanel rendered="{!noParam}">
                            <p class="h-mb-8x m-copy_lg" >
                                Thanks, you have requested to be unsubscribed from
                                <strong>{!relatedCommunicationName}</strong> communications.
                            </p>

                            <div class="m-btn-cancel h-mb-10x">
                                    <apex:commandButton styleClass="m-btn m-btn_tertiary m-btn-cancel__cancel" value="Confirm" action="{!confirmUnsubscribe}"/>
                                    <a href="/EmailUnsubscribe?id={!unsubscribeKey}&cancel=true" class="m-btn-cancel__cancel">
                                        Cancel
                                    </a>
                            </div>
                            <apex:outputLink rendered="{!isIndividualAU}">
                                <!-- <a href="{!$Page.AMSPreferences}">Manage My Preferences</a> -->
                            </apex:outputLink>
                        </apex:outputPanel>

                        <!-- Have hit confirm, allow to return -->
                        <apex:outputPanel rendered="{!cancelParam}">
                            <p class="h-mb-8x m-copy_lg" >
                                Thanks for choosing to still receive
                                <strong>{!relatedCommunicationName}</strong> communications.
                            </p>

                            <a href="{!homeURL}">Return to Farm Source Home</a>
                        </apex:outputPanel>

                        <!-- Have hit cancel, allow to return -->
                        <apex:outputPanel rendered="{!successParam}">
                            <p class="h-mb-8x m-copy_lg" >
                                Thanks, you have been unsubscribed from
                                <strong>{!relatedCommunicationName}</strong> communications.
                            </p>

                            <a href="{!homeURL}">Return to Farm Source Home</a>
                        </apex:outputPanel>
                    </apex:form>
                </div>
            </main>
        </body>
    </html>
</apex:page>