<template>
    <lightning-layout>
        <lightning-layout-item size="12">
            <div class="fonterraFormHeader fonterraFormLargeHeading">Milk Cooling Equipment Purchase Incentive</div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="12" padding="around-small">
            <div class="fonterraFormHeader fonterraFormMediumHeading">Applicant Details</div>
        </lightning-layout-item>
    </lightning-layout>

    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-combobox data-id="Action_Code__c"
                                    label="Action Code"
                                    placeholder="Action Code"
                                    options={actionCodeOptions}
                                    onchange={handleChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup onsearch={handleFarmSearch} onfarmselected={handlePartySearch} controller-property-name="FarmId" label="Farm" placeholder="Farm Number" onselectionchange={handleLookupChange} required></c-lookup>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-combobox label="Party"
                                    value=""
                                    placeholder="Select Party"
                                    options={partyOptions}
                                    onchange={handlePartyChange}
                                    required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                <b>Qualification of Payment<br/>(tick all applicable boxes)</b>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <b>Calculation of Payment Incentive</b>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Cooling Equipment complies with AS1187 specification
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" data-id="Cooling_Equipment_Complies_AS1187_S__c" value="true" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Installed Cooling Equipment Price
                <br/>
                <lightning-input type="number" formatter="currency" step="0.01" data-id="Installed_Cooling_Equipment_Price__c" placeholder="$" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Capacity increased to greater than 50% of the previous peak days production
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" data-id="Capacity_Increased_To_50__c" value="true" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Incentive (Percentage Rate)
                <br/>
                <lightning-input type="number" formatter="percent-fixed" step="0.01" data-id="Incentive_Percentage_Rate__c" placeholder="20%" disabled></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Significantly improves cooling capacity
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Significantly_Improves_Cooling_Capacity__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Total Incentive Payment
                <br/>
                <lightning-input type="number" formatter="currency" step="0.01" data-id="Total_Incentive_Payment__c" placeholder="$" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Vat (if applic) is graduated to 2500 litres or greater
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Vat_Graduated_2500_Liters__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Term of incentive (No. of Months)
                <br/>
                <lightning-input type="number" data-id="Term_Incentive_No_Months__c" placeholder="36" disabled></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Number of vats does not exceed two (2)
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Number_Vats_Not_Exceed_Two__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Monthly Payment
                <br/>
                <lightning-input type="number" formatter="currency" step="0.01" data-id="Monthly_Payment__c" placeholder="$" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
                Vat has 75 mm outlet
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-input type="checkbox" value="true"  data-id="Vat_Has_75mm_Outlet__c" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Commencement Date
                <br/>
                <lightning-input type="date" date-style="short" data-id="Commencement_Date__c" placeholder="dd/mm/yyyy" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="5" padding="around-small">
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                Completion Date
                <br/>
                <lightning-input type="date" date-style="short" data-id="Completion_Date__c" placeholder="dd/mm/yyyy" onchange={handleChange}></lightning-input>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>