@media print {
  @page {
    size: A4 landscape;
    max-height: 100%;
    max-width: 100%;
  }
  .show-on-print {
    display: block;
  }

  /* stylelint-disable */
  body {
    width: auto 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
    font-size: 14pt;
  }

  .site-main {
    padding: 10px 0 160px;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  h1 {
    font-size: 19pt;
  }

  h2 {
    font-size: 17pt;
  }

  h4,
  h5,
  h6 {
    font-size: 14pt;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  code {
    font: 12pt Courier, monospace;
  }

  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 12pt;
  }

  hr {
    background-color: #ccc;
  }

  /* Images */
  img {
    max-width: 100% !important;
    margin-bottom: 10px;
  }

  a img {
    border: none;
  }

  /* Links */
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }

  a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show linked images  */
  a[href^="http://"] {
    color: #000;
  }

  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }

  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* Table */
  table th, table td {
    padding: 4px 10px;
    font-size: 13pt;
  }

  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  /* stylelint-enable */
  article {
    page-break-before: always;
  }

  ul,
  img {
    page-break-inside: avoid;
  }

  body > *:not(main) {
    display: none;
  }

  .container {
    width: 100%;
  }

  .c-report-actions {
    display: none;
  }

  .l-production-quality__header-block {
    display: none;
  }

  .c-block {
    box-shadow: none;
    border: none;
    padding: 0;
  }

  .l-prod-table__pinned-column {
    display: none;
  }

  .l-production-quality__links {
    display: none;
  }

  .c-graph__options {
    display: none;
  }
  .c-graph__title {
    position: static;
  }

  /* stylelint-disable */
  #button-show-target {
    display: none;
  }

  /* stylelint-enable */
  .c-tabs__tab {
    display: none !important;
  }
  .c-tabs__tab--selected {
    display: block !important;
    box-shadow: none;
  }

  .l-income-table .c-table .l-form__input, .l-income-table .c-table .l-prod-table td.select-parent select, .l-prod-table td.select-parent .l-income-table .c-table select {
    min-width: 0;
  }

  .l-prod-table__wrap td, .l-prod-table__wrap th {
    width: 6% !important;
    min-width: 0 !important;
  }

  .container {
    width: 100%;
  }

  table th,
  table td {
    padding: 4px 10px;
    font-size: 10pt;
  }

  .l-form__input {
    border: none;
    font-size: 10pt;
  }

  input {
    background-color: transparent;
  }

  .dont-display-print {
    display: none;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .c-report-actions {
    display: -ms-flexbox;
    display: flex;
  }

  .c-report-actions__row + .c-report-actions__row {
    border-top: none;
  }

  .l-production-quality__header-block {
    display: -ms-flexbox;
    display: flex;
  }

  .c-report-actions__action select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .c-report-actions__action select::-ms-expand {
    display: none;
  }

  .toggle,
  .c-tooltip {
    display: none;
  }

  .accordion-content {
    display: block;
  }

  .production-table {
    page-break-after: always;
  }
}
