<template>
    <div class="lightBlueContainer">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormLargeHeading">Agreement Application</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Supplier Information</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout if:true={isGlobalContext}>
            <lightning-layout-item size="12" padding="around-small">
                Please select either an Opportunity OR a Farm AND Party
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows if:false={isOpportunity}>

            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleFarmSearch}
                    controller-property-name="Farm__c"
                    label="Farm"
                    placeholder="Farm Number"
                    onselectionchange={handleLookupChange}
                    default-value={Farm.Id}
                    default-value-unique-searchable={Farm.Name}>
                </c-lookup>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handlePartySearch}
                    controller-property-name="Party__c"
                    label="Party"
                    placeholder="Party Name"
                    onselectionchange={handleLookupChange}
                    default-value={Party.Id}
                    default-value-unique-searchable={Party.Party_ID__c}>
                </c-lookup>
            </lightning-layout-item>
        </lightning-layout>
            
        <lightning-layout if:false={isEntity}>
            <lightning-layout-item size="12" padding="around-small">
                <c-lookup
                    onsearch={handleOpportunitySearch}
                    controller-property-name="Opportunity__c"
                    label="Opportunity"
                    placeholder="Opportunity Name"
                    onselectionchange={handleLookupChange}
                    default-value={Opportunity.Id}
                    default-value-unique-searchable={Opportunity.Name}>
                </c-lookup>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleIndividualSearch}
                    controller-property-name="Key_Contact_Name__c"
                    label="Key Contact"
                    placeholder="Key Contact Name"
                    onselectionchange={handleLookupChange}
                    default-value={KeyContact.Id}
                    default-value-unique-searchable={KeyContact.Email}
                    required>
                </c-lookup>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleIndividualSearch}
                    controller-property-name="Individual_Name_2__c"
                    label="Individual 2"
                    placeholder="Individual 2 Name"
                    onselectionchange={handleLookupChange}
                    default-value={Individual2.Id}
                    default-value-unique-searchable={Individual2.Email}>
                </c-lookup>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleIndividualSearch}
                    controller-property-name="Individual_Name_3__c"
                    label="Individual 3"
                    placeholder="Individual 3 Name"
                    onselectionchange={handleLookupChange}
                    default-value={Individual3.Id}
                    default-value-unique-searchable={Individual3.Email}>
                </c-lookup>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <c-lookup
                    onsearch={handleIndividualSearch}
                    controller-property-name="Individual_Name_4__c"
                    label="Individual 4"
                    placeholder="Individual 4 Name"
                    onselectionchange={handleLookupChange}
                    default-value={Individual4.Id}
                    default-value-unique-searchable={Individual4.Email}>
                </c-lookup>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <div class="fonterraFormHeader fonterraFormMediumHeading">Agreement Details</div>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group data-id="Agreement_Type__c"
                                        label="Agreement Type"
                                        options={agreementTypeOptions}
                                        value={nonStandardAgreement.Agreement_Type__c}
                                        type="radio"
                                        onchange={handleAgreementTypeChange}
                                        required>
                </lightning-radio-group>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Agreement_Start_Date__c" value={nonStandardAgreement.Agreement_Start_Date__c} max={Agreement_End_Date__c} label="Agreement start date" placeholder="dd/mm/yyyy" onchange={handleAgreementDateChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Agreement_End_Date__c" value={nonStandardAgreement.Agreement_End_Date__c} min={Agreement_Start_Date__c} label="Agreement end date" placeholder="dd/mm/yyyy" onchange={handleAgreementDateChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="date" date-style="short" data-id="Milk_Collection_Start_Date__c" value={nonStandardAgreement.Milk_Collection_Start_Date__c} label="Milk collection start date" placeholder="dd/mm/yyyy" onchange={handleChange} required></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small">
                <lightning-input type="number" value={AgreementTerm} label="Milk Supply Agreement term" readonly></lightning-input> years
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small" if:false={organicAgreement}>
                <lightning-combobox data-id="Minimum_Price_Table__c"
                                        label="Minimum Price Table"
                                        options={minimumPriceTableOptions}
                                        value={nonStandardAgreement.Minimum_Price_Table__c}
                                        type="radio"
                                        onchange={handleChange}
                                        required>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <div if:true={agreementTypePopulated}>
            <div if:true={westFreshAgreement}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">West Fresh</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="WEST_Monthly_fat_Kg__c" value={nonStandardAgreement.WEST_Monthly_fat_Kg__c} label="Monthly Fat Kg" placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="WEST_Monthly_Protein_Kg__c" value={nonStandardAgreement.WEST_Monthly_Protein_Kg__c} label="Monthly Protein Kg"  placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="WEST_February_Fat_kg__c" value={nonStandardAgreement.WEST_February_Fat_kg__c} label="February Fat Kg" placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="WEST_February_Protein_kg__c" value={nonStandardAgreement.WEST_February_Protein_kg__c} label="February Protein Kg"  placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </div>

            <div if:true={vicFreshAgreement}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Vic Fresh</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="VIC_Monthly_fat_Kg__c" value={nonStandardAgreement.VIC_Monthly_fat_Kg__c} label="Monthly Fat Kg" placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="VIC_Monthly_Protein_Kg__c" value={nonStandardAgreement.VIC_Monthly_Protein_Kg__c} label="Monthly Protein Kg" placeholder="Kg" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-combobox data-id="Increase_in_Monthly_Minimum_Volume__c"
                                                label="Increase in Monthly Minimum Volume"
                                                options={increaseMonthlyVloumeOptions}
                                                value={nonStandardAgreement.Increase_in_Monthly_Minimum_Volume__c}
                                                type="radio"
                                                onchange={handleChange}
                                                disabled={mimMonthlyVolumeComboDisabled}
                                                required>
                        </lightning-combobox>
                    </lightning-layout-item>
                </lightning-layout>
            </div>

            <lightning-layout>
                <lightning-layout-item size="12" padding="around-small">
                    <div class="fonterraFormHeader fonterraFormMediumHeading">Special Conditions</div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout multiple-rows>
                <lightning-layout-item size="12" padding="around-small" if:true={cashflowSelectable}>
                    <lightning-input type="checkbox" data-id="Cashflow__c" checked={nonStandardAgreement.Cashflow__c} label="Cash Flow" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="12" padding="around-small" if:true={competitorPriceComparisonSelectable}>
                    <lightning-input type="checkbox" data-id="Competitor_Price_Comparison__c" checked={nonStandardAgreement.Competitor_Price_Comparison__c} label="Competitor Price Comparison" onchange={handleChangeAndCheckConfidentialityClause}></lightning-input>
                </lightning-layout-item>
                <!-- Temporarily removing this as it may be used later on -->
                <!-- <lightning-layout-item size="12" padding="around-small">
                    <lightning-input type="checkbox" data-id="Interest_Free_Advance__c" checked={nonStandardAgreement.Interest_Free_Advance__c} label="Interest Free Advance" onchange={handleChange}></lightning-input>
                </lightning-layout-item> -->
                <lightning-layout-item size="12" padding="around-small" if:true={combinedProductionSelectable}>
                    <lightning-input type="checkbox" data-id="Combined_Production__c" checked={nonStandardAgreement.Combined_Production__c} label="Combined Production" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="12" padding="around-small">
                    <lightning-input type="checkbox" data-id="Additional_Special_Condition__c" checked={nonStandardAgreement.Additional_Special_Condition__c} label="Additional Special Condition" onchange={handleChange}></lightning-input>
                </lightning-layout-item>
            </lightning-layout>

            <div if:true={nonStandardAgreement.Cashflow__c}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Cash Flow</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-input type="checkbox" data-id="cashWillBePaidPrior" checked={cashWillBePaidPrior} label="Cash will be paid prior to the supplier sending milk for the season" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="checkbox" data-id="existingAdvances" checked={existingAdvances} label="Existing advances" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-combobox data-id="Applicable_Season_and_Type_in_the_Year__c"
                                            value={nonStandardAgreement.Applicable_Season_and_Type_in_the_Year__c}
                                            label="Select applicable season"
                                            options={seasonTypeOptions}
                                            onchange={handleChange}
                                            required>
                        </lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" data-id="Total_expected_income__c" value={nonStandardAgreement.Total_expected_income__c} label="Total expected income" onchange={handleTotalExpectedIncomeChange} required></lightning-input>
                        Transpose figure from income Estimation
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" formatter="percent" value={nonStandardAgreement.Risk_Factor__c} label="Risk factor" onchange={handleChange} readonly></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" value={nonStandardAgreement.Income_available_for_distribution__c} label="Income available for distribution" onchange={handleChange} readonly></lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="12" padding="around-small">
                                <div class="fonterraFormHeader fonterraFormSmallHeading">Cashflow Requirements</div>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Jul__c" value={nonStandardAgreement.CR_Jul__c} label="July" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Aug__c" value={nonStandardAgreement.CR_Aug__c} label="August" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Sep__c" value={nonStandardAgreement.CR_Sep__c} label="September" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Oct__c" value={nonStandardAgreement.CR_Oct__c} label="October" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Nov__c" value={nonStandardAgreement.CR_Nov__c} label="November" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Dec__c" value={nonStandardAgreement.CR_Dec__c} label="December" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Jan__c" value={nonStandardAgreement.CR_Jan__c} label="January" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Feb__c" value={nonStandardAgreement.CR_Feb__c} label="February" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Mar__c" value={nonStandardAgreement.CR_Mar__c} label="March" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Apr__c" value={nonStandardAgreement.CR_Apr__c} label="April" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_May__c" value={nonStandardAgreement.CR_May__c} label="May" placeholder="$" onchange={handleMonthlyExpectedIncomeChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" formatter="currency" step="0.01" data-id="CR_Jun__c" value={nonStandardAgreement.CR_Jun__c} label="June" placeholder="$" readonly></lightning-input>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>

                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="12" padding="around-small">
                                <div class="fonterraFormHeader fonterraFormSmallHeading">Cash Flow estimated production</div>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Jul__c" value={nonStandardAgreement.CEP_Jul__c} label="July" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Aug__c" value={nonStandardAgreement.CEP_Aug__c} label="August" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Sep__c" value={nonStandardAgreement.CEP_Sep__c} label="September" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Oct__c" value={nonStandardAgreement.CEP_Oct__c} label="October" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Nov__c" value={nonStandardAgreement.CEP_Nov__c} label="November" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Dec__c" value={nonStandardAgreement.CEP_Dec__c} label="December" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Jan__c" value={nonStandardAgreement.CEP_Jan__c} label="January" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Feb__c" value={nonStandardAgreement.CEP_Feb__c} label="February" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Mar__c" value={nonStandardAgreement.CEP_Mar__c} label="March" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Apr__c" value={nonStandardAgreement.CEP_Apr__c} label="April" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_May__c" value={nonStandardAgreement.CEP_May__c} label="May" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" padding="around-small">
                                <lightning-input type="number" data-id="CEP_Jun__c" value={nonStandardAgreement.CEP_Jun__c} label="June" placeholder="Kg" onchange={handleChange} required></lightning-input>
                            </lightning-layout-item>
                
                        </lightning-layout>
                    </lightning-layout-item>


                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" formatter="currency" step="0.01" data-id="Forecast_Cost__c" value={nonStandardAgreement.Forecast_Cost__c} label="Forecast Cost" placeholder="$" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" formatter="currency" step="0.01" data-id="Forecast_Benefit__c" value={nonStandardAgreement.Forecast_Benefit__c} label="Forecast Benefit" placeholder="$" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-input type="text" data-id="Supporting_Notes__c" value={nonStandardAgreement.Supporting_Notes__c} label="Supporting Notes" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>

                </lightning-layout>
            </div>

            <div if:true={nonStandardAgreement.Interest_Free_Advance__c}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Interest Free Advance</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="number" formatter="currency" step="0.01" data-id="Advance_Amount__c" value={nonStandardAgreement.Advance_Amount__c} label="Advance amount" placeholder="$" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-combobox data-id="Maximum_interest_Free_Period__c"
                                            value={nonStandardAgreement.Maximum_interest_Free_Period__c}
                                            label="Maximum interest Free Period"
                                            options={maximumInterestFreePeriodOptions}
                                            onchange={handleChange}
                                            required>
                        </lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-input type="text" data-id="Supporting_Notes_Interest__c" value={nonStandardAgreement.Supporting_Notes_Interest__c} label="Supporting notes" placeholder="" onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </div>

            <div if:true={nonStandardAgreement.Competitor_Price_Comparison__c}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Competitor Price Comparison</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-layout-item size="6" padding="around-small">
                            <lightning-combobox data-id="Processor__c"
                                                value={nonStandardAgreement.Processor__c}
                                                label="Competitor comparison"
                                                options={processorOptions}
                                                onchange={handleChange}
                                                required>
                            </lightning-combobox>
                        </lightning-layout-item>
                    </lightning-layout-item>
                </lightning-layout>
            </div>

            <div if:true={nonStandardAgreement.Combined_Production__c}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Combined Production</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-layout-item size="6" padding="around-small">
                            <lightning-input type="text" data-id="Farm_Number_to_Combine_Production_with__c" value={nonStandardAgreement.Farm_Number_to_Combine_Production_with__c} label="Combined farms" placeholder="Farm number to combine production with" onchange={handleChange} required></lightning-input>
                        </lightning-layout-item>
                    </lightning-layout-item>
                </lightning-layout>
            </div>

            <div if:true={nonStandardAgreement.Additional_Special_Condition__c}>
                <lightning-layout>
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="fonterraFormHeader fonterraFormMediumHeading">Additional Special Condition</div>
                    </lightning-layout-item>
                </lightning-layout>

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="6" padding="around-small">
                        <lightning-input type="checkbox" data-id="Confidentiality__c" checked={nonStandardAgreement.Confidentiality__c} label="Confidentiality clause required for special condition" onchange={handleChange} disabled={mandatoryConfidentialityClause}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-input type="text" data-id="Please_Add_Additional_Special_Condition__c" value={nonStandardAgreement.Please_Add_Additional_Special_Condition__c} label="Please add additional special condition" onchange={handleChange} required></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </div>

        <lightning-layout>
            <lightning-layout-item size="10" padding="around-small">
                <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-button variant="brand" label="Save" onclick={handleSave} disabled={saveButtonDisabled}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>